@charset "utf-8";
.yunrong-aside{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	width:230px;
	z-index:99;
	background-color:#12203d;
	border-right: 1px solid #e5e5e5;
	padding-top:70px;
}
.yunrong-article-box{
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left:0;
	overflow:hidden;
	z-index:1;
	background-color:#fff;
}
.yunrong-article{
	position: absolute;
	top:35px;
	bottom:0;
	left:0;
	right:0;
	overflow:auto;
	z-index:1;
}
.yunrong-aside,.yunrong-article-box,.dislpayArrow{
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
@media (max-width: 767px) {
	.page-container{ padding:15px}
}

/*导航*/
/*左侧菜单*/
.yunrong-aside .menu_dropdown dl{
	margin-bottom:0;
}
.yunrong-aside .menu_dropdown dt{
	display:block;
	line-height:46px;
	color:#fff;
	padding:0 30px 0 70px;
	cursor:pointer;
	position:relative;
	font-weight:normal;
}
.yunrong-aside .menu_dropdown dt .menu_dropdown-arrow{
	position:absolute;
	overflow: hidden;
	top:0;
	right:15px;
	transition-duration:0.3s ;
	transition-property:all;
}
.yunrong-aside .menu_dropdown dd{
	display:none;
}
.yunrong-aside .menu_dropdown dt.selected .menu_dropdown-arrow{
	transform: rotate(180deg);
}
.yunrong-aside .menu_dropdown dd.selected{
	display:block;
	margin-left:0;
}
.yunrong-aside .menu_dropdown ul{
	padding:0;
}
.yunrong-aside .menu_dropdown li{
	line-height:35px;
	overflow:hidden;
	zoom:1;
}
.yunrong-aside .menu_dropdown li a{
	padding-left:15px;
	display:block;
	font-weight: bold;
	margin:0;
}
.yunrong-aside .menu_dropdown li a i{
	font-weight: normal;
}
.yunrong-aside .menu_dropdown dd ul{
	background:#203054;
}
.yunrong-aside .menu_dropdown dd li{
	line-height:46px;
}
.yunrong-aside .menu_dropdown dd li:hover{
	background:rgba(0,0,0,0.6);
}
.yunrong-aside .menu_dropdown dd li a{
	line-height:46px;
	padding-left:70px;
	border-bottom:none;
	font-weight:normal;
	color:#7a8bc2;
}
.yunrong-aside .menu_dropdown li a:hover{
	text-decoration:none;
}
.yunrong-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{
	background-color:rgba(255,255,255,0.2);
}
.yunrong-aside .menu_dropdown dt:hover{
	background:rgba(0,0,0,0.6);
}
/*菜单收缩切换*/
.dislpayArrow{
	position: absolute;
	top: 0;
	bottom: 0;
	left:200px;
	width:0;
	height:100%;
	z-index:10;
}
.dislpayArrow a{
	position:absolute;
	display:block;
	width:17px;
	height:61px;
	top:50%;
	margin-top:-30px;
	outline:none;
}
.dislpayArrow a.open{
	background-position:0 -61px;
}
.dislpayArrow a:hover{
	text-decoration:none;
	background-position:right 0;
}
.dislpayArrow a.open:hover{
	background-position:right -61px;
}

/*选项卡导航*/
.yunrong-tabNav-wp{
	position:relative;
	height:35px;
	overflow:hidden;
}
.yunrong-tabNav,
.yunrong-tabNav .acrossTab li{
	background-image:url(../../images/book/acrossTab-2.png);
}
.yunrong-tabNav{
	height:35px;
	padding-right:75px;
	overflow:hidden;
	position:relative;
	background-color:#efeef0;
	background-repeat: repeat-x;
	background-position: 0 -175px;
}
.yunrong-tabNav .acrossTab{
	position:absolute;
	height:26px;
	line-height:26px;
	background:none;
	top:8px;
	left:0;
	padding-top:0;
}
.yunrong-tabNav .acrossTab li{
	height:26px;
	line-height:26px;
}
.yunrong-tabNav .acrossTab li em{
	position:absolute;
	top:0;
	z-index: 50;
	right:-16px;
	height: 26px;
	width: 16px;
	background-image:url(../../images/book/acrossTab-2.png)
}
.loading {
	background:url(../../images/book/loading-s.gif) no-repeat center;
	height:100px;
}
.show_iframe{
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.show_iframe iframe {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
}
.yunrong-tabNav-more {
	position: absolute;
	right:0;
	width:70px;
	top:4px;
	display: none;
}

/*面包屑导航*/
.breadcrumb{
	background-color:#f5f5f5;
	padding:0 20px;
	position:relative;
	z-index:99;
}
@media (max-width: 767px) {
	.breadcrumb{ padding:0 15px;}
	.show_iframe{-webkit-overflow-scrolling: touch;overflow-y: scroll;}
}

/*横向手机 竖向平板*/
@media (max-width: 767px) {
	.yunrong-aside{
		float:none;
		width:100%;
		height:auto;
		margin-top:0;
		padding-top:0;
		bottom:auto;
	}
	.menu_dropdown dt{
		line-height:44px;
	}
	.menu_dropdown li,.menu_dropdown dd li,.menu_dropdown dd li a{
		line-height:44px;
	}
  .yunrong-tabNav{
	  position:fixed;
	  z-index:998;
  }
  .yunrong-article{
	  top:44px;
  }
  .yunrong-article-box{
	  position:static;
	  left:0;
  }
  .yunrong-article-box .pd-20{
	  padding:15px;
  }
	.yunrong-article{
		left:0;
	}
}
.acrossTab{
	height:29px;
	background-repeat: repeat-x;
	background-position: 0 0;
	padding-top:1px;
}
.acrossTab li,.acrossTab li em{
	background-repeat:no-repeat;
	background-position:0 0;
}
.acrossTab li{
	position:relative;
	float:left;
	display:inline-block;
	height:29px;
	line-height:29px;
	font-size:12px;
	cursor:pointer;
	padding:0 30px;
	white-space:nowrap;
	color:#282828;
	background-position:0 0;
}
.acrossTab li em{
	position:absolute;
	width:23px;
	height:29px;
	right:-20px;
	top:0;
	z-index:50;
	background-position:right -30px;
}
.acrossTab li:hover{
	background-position:0 -60px;
}
.acrossTab li:hover em{
	background-position:right -90px;
}
.acrossTab li.active{
	background-position:0 -120px;
	z-index:99;
}
.acrossTab li.active em{
	background-position:right -150px;
}
.acrossTab li i:hover{
	background-position:0 bottom;
}
.acrossTab li i {
	position: absolute;
	display: block;
	width: 13px;
	height: 13px;
	top: 50%;
	margin-top: -7px;
	right: 5px;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	background-image: url(../../images/book/acrossTab-close.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.yunrong-tabNav-more>a{
	background:#eee;
}
/*-----aside---slider---*/
.sliderTitle{
	height:50px;
	line-height:50px;
	color:#fff;
}
.sliderTitle .icon{
	margin:0 30px 0 20px;
}

