@charset "utf-8";
table{
    table-layout: fixed;
    width: 100%;
    text-align:center;
}
.width2{
    width: 2%
}
.width3{
    width: 3%
}
.width4{
    width: 4%
}
.width5{
    width: 5%
}
.width6{
    width: 6%
}
.width7{
    width: 7%
}
.width8{
    width: 8%
}
.width9{
    width: 9%
}
.width10{
    width: 10%
}
.width11{
    width: 11%
}
.width12{
    width: 12%
}
.width14{
    width: 14%
}
.width15{
    width:15%
}
.width16{
    width: 16%
}
.width18{
    width: 18%
}
.width20{
    width: 20%
}
.width21{
    width: 21%
}
.width22{
    width: 22%
}
.width24{
    width: 24%
}
.width25{
    width: 25%
}
.width26{
    width: 26%
}
.width28{
    width: 28%
}
.width30{
    width: 30%
}
.width32{
    width: 32%
}
.width34{
    width: 34%
}
.width35{
    width: 35%
}
.width36{
    width: 36%
}
.width38{
    width: 38%
}
.width40{
    width: 40%
}
.width42{
    width: 42%
}
.width44{
    width: 44%
}
.width45{
    width: 45%
}
.width46{
    width: 46%
}
.width48{
    width: 48%
}
.width50{
    width: 50%
}
.width95{
    width: 95%
}
th{
    font-size:14px;
}
td{
    font-size:12px;
    /* overflow:hidden;
     text-overflow: ellipsis;
     white-space: nowrap;*/
}

.invoiceCode{
    color: #f97d3c;
    font-weight:bold;
    cursor: pointer;
}
.invoiceCode:hover{
    color: #f97d3c;
    text-decoration: underline;
}