@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{display: block;margin: 0;padding: 0;}
li{list-style:none;}
a,a:hover,a:link,a:visited,a:active{text-decoration:none;}
img{border:0;}
button,input,select,textarea{outline: none}
table{border-collapse:collapse;border-spacing:0;}
.hide{display:none;}
*,*:before,*,*:after{box-sizing:border-box;}
*{
    font-family: "Microsoft Yahei";
}
[v-cloak] {
    display: none;
}
/*-------------点记-1时iframe图标的icon-------------*/
.pzAlert .layui-layer-setwin .layui-layer-close1{
    background-position: -156px -39px;
}
.pzAlert .layui-layer-title{
    background:#f97d3c;
    color:#fff;
    padding:0 20px 0 22px;
    font-size:14px;
    font-weight:bold;
}
