<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>财税狮</title>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/header.css">
</head>
<body>
<div id="app">
    <div class="header">
        <div class="headerTop">
            <div class="headerLeft">
                <img src="../../common/images/logoLitter.png" alt="logo">
            </div>
            <div class="headerRight">
                <div class="header-item">
                    <i><img src="../../common/images/company.png" alt="company"></i>
                    <span>苏州财税狮网络科技有限公司</span>
                </div>
                <div class="header-item">
                    <i><img src="../../common/images/notes.png" alt="company"></i>
                    <span>通知公告</span>
                </div>
                <div class="header-item">
                    <i><img src="../../common/images/personalcenter.png" alt="company"></i>
                    <span>用户名</span>
                </div>
            </div>
        </div>
        <div class="tab">
            <ul class="tabList">
                <li class="activeBg">首页</li>
                <li>客户信息</li>
                <li>
                    基础设置
                    <ul class="showList" style="display: none">
                        <li>角色权限</li>
                        <li>部门人员</li>
                        <li>客户授权</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--vue------->
<!--<script src="../../common/js/vue.min.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<!--<script src="../../common/js/jquery-2.2.4.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="../js/navBar.js"></script>
<script>
</script>
</body>
</html>